<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        {{!-- <h1>{{title}}</h1> --}}
        <img src="/img/my-passport-photo.png" alt="me" class="my-image">
        {{!-- <p>Created by, {{name}}</p> --}}
    </div>
    {{>footer}}
</body>
</html>